Repository voxpupuli/container-voxbox, pull requests merged in 2025-02, with the labels that each got.

#77 fix: use right tags in manifests stage
  .github/workflows/build_container.yml
Labels: github_actions

#81 feat: add rubygem rspec_junit_formatter for junit output on spec tests
  .github/workflows/build_container.yml
  .github/workflows/ci.yaml
  .github/workflows/security_scanning.yml
  Dockerfile
  build_versions.json
  voxbox/Gemfile
Labels: enhancement

#78 feat: add some package to do releases
  Dockerfile
  README.md
Labels: enhancement

#82 docs: update tool docu, add toc, re-order sections
  README.md
Labels: documentation

#84 feat: remove ffi pinning, does work again
  voxbox/Gemfile
Labels: enhancement

#83 feat: deprecate voxbox:7
  .gitlab-ci.yml
  README.md
  build_versions.json
Labels: enhancement, backwards-incompatible

#85 feat: add renovate for rubygem updates
  .github/workflows/build_container.yml
  .github/workflows/ci.yaml
  .github/workflows/security_scanning.yml
  build_versions.json
  build_versions.yaml
  renovate.json
Labels: enhancement, dependencies
